html {
	box-sizing: border-box;
}
*,*:before,*:after{
	box-sizing: inherit;
}


body {
  margin: 0 auto;
  width: 980px;
  background: #042029;
  font-family: 'Merriweather';
  color: #EAE3CB;	
}

.sec1 {

	padding: 20px;
	width: 950px;
	margin: 0 auto;
}


.zoom h2  {
  font-family: 'Bree Serif';  
  color: #A57706;  
  text-align: center;
  font-size: 2em;
 margin-bottom: 0;
}

.zoom p , .artNote {
  font-family: 'Bree Serif';  
  color: #A57706;  
  text-align: center;
}

ul {
  margin: 0 auto;
  padding: 10;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li>img {
  width: 200px;
  border: 1px solid #FCF4DC;
  cursor: url(../_images/magnifying_glass.png), auto;
}

ul li {
  position: relative;
}

ul li div.preview {
  position: absolute;
  top: -100px;
  left: 110px;
  z-index: 100;
}

ul li div.preview img {
  max-width: 500px;
  display: block;
  border: 1px solid #FCF4DC;
  -webkit-box-shadow: 5px 5px 12px black;
  -moz-box-shadow: 5px 5px 12px black;
  box-shadow: 5px 5px 12px black;
}
.te-cover , te-wrapper {
	margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
}

.sec3 {

	width: 950px;	
	overflow: hidden;
	margin: 0 auto;	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	
}

#sec4 {
	width: 960px;
	position: relative;
		
}

#options  {
	
	width: 300px;	
	float: left;
	position: absolute;
	top: 950px;

		
}

#cube {
	float: left;
	position: absolute;
	top: 20px;
	left: 40px;	
}
